@CHARSET "windows-1255";

.multiple-select input {
	margin: 0 4px 0 4px;
	vertical-align: middle;
}

.form-field label {
	width: 90px;
	display: inline;
	margin-bottom: 0;
}

ul.no-bullets-list {
	list-style-type: none;
}

.slide_container * {
	direction: ltr;
}

#attribute-info-box {
	width:250px;
}

#attributes-form-list {
	width: 300px;
	margin-left: 20px;
}

#attributes-form-list li{
	line-height: 30px;
}
#attributes-form-list li .slide_container{
	margin-top: 6px;
}

.tooltip .tooltip-content {
	display: none;
}

.attribute-info .tooltip-content {
	display: none;
}

.active .tooltip-content {
	display: block !important;
}

.tabs-container {
	border: 1px solid black;
	padding: 6px;
}

li.tab {
	border-bottom: 0;
}

ul.tabs {
    padding: 10px 0 0 0;
}

.zend_form input {
	display: inline;
	margin-left: 6px;
}

.zend_form label {
	display: inline;
}

.zend_form button#personal-submit {
	width: 120px;
	height: 30px;
}

/*.spinner {
    position: absolute;
    opacity: 0.9;
    filter: alpha(opacity=90);
    z-index: 999;
    background: #fff;
}
.spinner-msg {
    text-align: center;
    font-weight: bold;
}*/

.spinner-img {
    background: url(http://mootools.net/releases/mootools-more-1.2.4.4/Styles/Interface/Spinner/spinner.gif) no-repeat;
    width: 24px;
    height: 24px;
    margin: 0 auto;
}