@CHARSET "windows-1255";

.multiple-select input {
	margin: 0 4px 0 4px;
	vertical-align: middle;
}

.form-field label {
	width: 90px;
	display: inline;
	margin-bottom: 0;
}

ul.no-bullets-list {
	list-style-type: none;
}

.slide_container * {
	direction: ltr;
}

#attribute-info-box {
	width:250px;
}

#attributes-form-list {
	width: 271px;
	margin-left: 20px;
}

#attributes-form-list li{
	line-height: 30px;
}
#attributes-form-list li .slide_container{
	margin-top: 6px;
}

.tooltip .tooltip-content {
	display: none;
}

.attribute-info .tooltip-content {
	display: none;
}

.active .tooltip-content {
	display: block !important;
}

.tabs-container {
	border: 1px solid black;
	padding: 6px;
}

li.tab {
	border-bottom: 0;
}

ul.tabs {
    padding: 10px 0 0 0;
}

.zend_form input {
	display: inline;
	margin-left: 6px;
}

.zend_form label {
	display: inline;
}

.zend_form #personal-bio-element {
	float: left;
}

#personal-bio-element textarea {
    resize: none;
	width: 375px;
	height: 291px;
}

.zend_form button#personal-submit {
	width: 120px;
	height: 30px;
}

.spinner {
    position: absolute;
    opacity: 0.9;
    filter: alpha(opacity=90);
    z-index: 999;
    background: #fff;
}
/*.spinner-msg {
    text-align: center;
    font-weight: bold;
}*/

.spinner-img {
    background: url(http://mootools.net/releases/mootools-more-1.2.4.4/Styles/Interface/Spinner/spinner.gif) no-repeat;
    width: 24px;
    height: 24px;
    margin: 0 auto;
}

#attributes-form dd, #attributes-form dt {
	display: none;
}

#attributessubmit-element {
	display: block !important;
}

.tabs-container .tab-content {
	height: 399px;
}

#available-games-list li {
	margin-top: 8px;
	cursor: pointer;
}

#available-games-list li label {
	cursor: pointer;
	display: inline;
	margin-right: 8px;
}

#available-games-list ul {
	margin-left: 0;
}

#available-games-list li:hover, #available-games-list li.active {
	background-color: #EAD28B;
}

#available-games-list {
	width: 50%;
	overflow-y: auto;
}

#available-games-list label input {
	display: inline;
	margin-left: 6px;
}

.game_select_box div.image_holder input {
	width: 30px;
	height: 30px;
}

.game_select_box div.image_holder {
	border: 1px solid black;
	height: 80px;
	width: 80px;
	text-align: right;
	padding: 2px;
}

.game_select_box {
	height: 80px;
	width: 80px;
	margin: 6px;
	text-align: center;
}

#game-user-details {
	width: 294px;
	height: 342px;
	background-color: #EAD28B;
	padding: 12px;
	overflow: none;
	border-radius: 6px;
}

#game-user-details + .spinner {
	border-radius: 6px;
}

#skills-comments-element textarea {
	width: 100%;
	height: 183px;
}

#skills-learn-element input {
	float: right;
}

#skills-learn-label {
	line-height: 18px;
	margin-bottom: 3px;
}

#skills-gameId-label, #skills-xp-label, #skills-gm-label, #submit-label {
	display: none;
}